*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

div.loading{
    width: 60px;
    height: 60px;
    position: relative;
    display: grid;
    place-items: center;
}

div.loading::before{
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border: 3px solid gold;
    border-radius: 100%;
    border-top:  3px solid transparent;
    animation: loading 1s infinite;
}

div.loading::after{
    content: "";
    display: block;
    width: 47px;
    height: 47px;
    border: 3px solid gold;
    border-radius: 100%;
    border-right: 3px solid transparent;
    animation: loading2 1s infinite;
}

@keyframes loading{ 
    to{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }
}

@keyframes loading2{ 
    to{
        transform: rotate(360deg);
    }
    from{
        transform: rotate(0deg);
    }
}