.contrast,
.contrast div,
.contrast .small,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}

.contrast nav ul li a:hover{
    border: 1px solid yellow !important; 
    background: black !important; 
}

.contrast nav ul li button{
    border: none !important; 
    background: black !important; 
}

.contrast .fonteacessibilidade:hover{
	border: 1px solid yellow !important; 
    background: black !important; 
}


.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
    color: white !important;
}

.contrast a{
    color: yellow !important;
}

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: none !important;
}

.contrast button{
    border: 2px solid white !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

.contrast input[type=text],
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
}

.contrast .imgpatro{
	border: none !important; 
    border-radius: 0px !important; 
	width: 100% !important;
	box-shadow: 0vw 0vw #fff !important;
	transition: 0.3s !important;		
}

.contrast .imgpatro:hover{
    border-radius: 0px !important; 
    border: none !important;	  
	width: 100% !important;
	box-shadow: 0.925vw 0.925vw #fff !important;    	
}

.contrast .panel {
    padding: 1.85vw !important;              
    border-radius: 0 0 0.246vw 0.246vw !important;                
    border: none !important;     
    border-top: none !important; 
    background: #fff !important;               
}

.contrast .panel p {
    color: #000  !important;              
}

.contrast .event1Bubble,  
.contrast .event2Bubble,
.contrast .event3Bubble {
    border-color: #fff;
}  

.contrast circle {
    fill: #fff  !important;              
}

.contrast line {
    stroke: #fff  !important;              
}

.contrast .event1Bubble:after,  
.contrast .event2Bubble:after,
.contrast .event3Bubble:after {
    border-top-color: #fff !important; 
}

.contrast .now{    
    border-color: #fff !important;
    color: yellow !important;           
}

.contrast .edicao{
    color: yellow !important;
}



  